<!--The content below is only a placeholder and can be replaced.-->
<mat-toolbar color="primary">
  <span>Visualización de datos Avanzada - Leidy Mercedes </span>
</mat-toolbar>
<div style="text-align:center">
  <h1>
    {{ title }}
  </h1>
</div>
<div>
  <h2>Gráfico - Petición a Backend:</h2>
  <app-bar-chart *ngIf="chartData" [data]="chartData"></app-bar-chart>
  <mat-card>
    <mat-card-header>
      <mat-card-title>Análisis de los datos</mat-card-title>
      <mat-card-subtitle></mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <div>
        Escribir el análisis de los datos.
    </div>
    </mat-card-content>
  </mat-card>
  <mat-card>
    <mat-card-header>
      <mat-card-title>Justificación del Gráfico</mat-card-title>
      <mat-card-subtitle></mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <div>
        Escribir el la justificcion del grafico utilizado.
    </div>
    </mat-card-content>
  </mat-card>
  <mat-card>
    <mat-card-header>
      <mat-card-title>Fuente de Datos</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div>
        Indicar los datos utilizados.
    </div>
    </mat-card-content>
  </mat-card>
  <app-tabla-datos></app-tabla-datos>
</div>



